
.navbar {
  background-image: linear-gradient(to right, #322749, #42284d, #52294e, #62294d, #712a4a);
  box-shadow: 1px 10px 26px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 10px 26px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 10px 26px -11px rgba(0, 0, 0, 0.75); }

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem; }
  @media only screen and (max-width: 575px) {
    .header_area .main-menu .navbar .navbar-brand {
      padding: 2%;
      margin: 0%; } }

.header_area .main-menu .navbar {
  padding: 0rem 20rem; }
  @media only screen and (max-width: 1910px) {
    .header_area .main-menu .navbar {
      padding: 1rem; } }

.navbar-nav {
  margin: auto; }

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px;
  font-family: "Roboto";
  text-transform: uppercase;
  padding: 1.7rem;
  color: #f8f2f2; }

.link-footer {
  color: #f8f2f2; }

.link-footer a:hover {
  color: #f8f2f2; }

.header_area .main-menu .navbar-nav .active a {
  color: #b31b56; }

.header_area .main-menu .navbar-nav a:hover {
  color: #b31b56; }

.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: var(--box-shadow);
  z-index: 999;
  transition: background 1s ease; }

/*############ Fin Navegacion #############*/

/*############ Header #############*/
.site-banner {
  background-image: linear-gradient(to right, #322749, #42284d, #52294e, #62294d, #712a4a);
  padding-bottom: 30px; }

.site-main .site-banner .site-title {
  padding-top: 2%;
  text-align: center; }

.site-main .site-banner .site-title h1, .site-main .site-banner .site-title .h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #f8f2f2; }
  @media only screen and (max-width: 575px) {
    .site-main .site-banner .site-title h1, .site-main .site-banner .site-title .h1 {
      font-size: 30px; } }

.site-main .site-banner .site-title h2, .site-main .site-banner .site-title .h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f8f2f2; }

.site-main .site-banner .site-title > img {
  padding: 1rem 2rem;
  max-width: 500px;
  width: 100%; }

.site-main .site-banner .banner-image {
  text-align: center; }

.site-main .site-banner .banner-image > img {
  padding: 3rem 2rem;
  max-width: 450px;
  width: 100%; }


  /*############ CATEGORIAS #############*/
.cat-titulo h2, .cat-titulo .h2 {
  color: #030303;
  letter-spacing: 0.05em;
  margin-top: 20px;
  padding: 4px; }

#cpugamer, #perifericos, #consolas, #placasvideo, #pcgamers, #rams {
  padding-top: 100px; }

.cat-titulo .linea {
  position: relative;
  z-index: 1; }

.cat-titulo .linea:before {
  border-top: 2px solid #790f83;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 45%;
  z-index: -1; }

.cat-titulo .linea span {
  background: #fff;
  padding: 0 15px; }

.categorias {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%; }

.categorias img {
  width: 100%;
  position: absolute;
  transition: all 0.3s; }

.categorias-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
  border: solid 4px;
  border-top-color: #8c284e;
  border-left-color: #8c284e;
  border-right-color: #564892;
  border-bottom-color: #564892; }

.hover-content {
  position: relative;
  z-index: 99; }

.hover-cat::after {
  content: '';
  width: 100%;
  height: 10px;
  background: #a407b3;
  position: absolute;
  bottom: -10px;
  left: 0;
  display: block;
  transition: all 0.3s;
  z-index: 999; }

.text-hover {
  color: #f8f2f2; }

.text-hover:hover {
  color: #a407b3; }

.hover-cat-title {
  position: absolute;
  transition: all 0.3s;
  z-index: 99;
  width: 176px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: -21px 0 0 -85px; }
  @media only screen and (max-width: 1199px) {
    .hover-cat-title {
      font-size: 1.2rem;
      margin: -11px 0 0 -88px; } }
  @media only screen and (max-width: 991px) {
    .hover-cat-title {
      font-size: 1.6rem;
      margin: -11px 0 0 -88px; } }
  @media only screen and (max-width: 767px) {
    .hover-cat-title {
      font-size: 1.3rem;
      margin: -11px 0 0 -88px; } }
  @media only screen and (max-width: 575px) {
    .hover-cat-title {
      font-size: 1.7rem;
      margin: -11px 0 0 -88px; } }

.hover-cat-title span {
  transition: all 0.4s;
  opacity: 0;
  color: #a407b3; }

.hover-cat:hover .categorias-overlay {
  background: rgba(0, 0, 0, 0.8); }

.hover-cat:hover .hover-cat-title a {
  bottom: 0; }

.hover-cat:hover .hover-cat-title span {
  opacity: 1; }

.hover-cat:hover::after {
  bottom: 0; }

/*############ Fin Categorias#############*/


/*############ Productos #############*/
.productos {
  margin-bottom: 50px; }
  .productos__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 255px;
    height: 350px;
    border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #a2a2a21a 0%, #a2a2a2 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #a2a2a21a 0%, #a2a2a2 100%);
    border-image: linear-gradient(to bottom, #a2a2a21a 0%, #a2a2a2 100%);
    border-image-slice: 1;
    text-align: center; }
    .productos__row h4, .productos__row .h4 {
      font-size: 1rem;
      color: black; }
    .productos__row--etiquetas {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
  .productos__img {
    width: 191px;
    height: 183px; }
  .productos__precio {
    background-image: url(../img/productos/precio.webp);
    width: 126px;
    height: 48px;
    text-align: center;
    padding-top: 10px;
    font-size: 1.1rem;
    color: white; }
  .productos__carrito {
    background-image: url(../img/productos/carrito.webp);
    width: 85px;
    height: 31px;
    text-align: center;
    margin-left: 40px;
    padding-top: 3px;
    padding-right: 20px;
    font-size: 0.8rem;
    color: white; }
    .productos__carrito a {
      color: white;
      text-decoration: none; }
      .productos__carrito:hover {
        color: black; }

/*############ Fin Productos #############*/


/*############# Carrito De Compras ###########*/

.carrito{
    width: 60px;
    margin-right:100px;
    background-image: url(../img/nav/carrito.png);
}   

.header-section{
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  position: relative;
}
.header-section div{
  position: relative;
}
.header-section p{
  position: absolute;
  top: -57px;
  right: 1px;
  background-color: #fff;
  padding: 1px 6px;
  border-radius: 50%;
  color: red;
  font-weight: 700;
  font-family: system-ui;
  line-height: 18px;
}
.logo{
  width: 164px;
  height: 84px;
  cursor: pointer;
}

.cart{
  width: 62px;
  height: 62px;
}
.cart-products{
  position: absolute!important;
  top: 82px;
  right: -18px;
  background-color: #fff;
  padding: 0 18px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  display: none;
  z-index: 100;
  min-width: 290px;
}

/*end header*/

/*float cart*/
.cart-products .item img{
  width: 87px;
  height: 95px;
}

.cart-products .item {
  display: flex;
  align-items: center;
  border-bottom: solid 2px red;
}
.cart-products .item .item-content{
  margin: 0 19px;
  width: 201px;
}
.cart-products .item .item-content h5{
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  font-family: system-ui;
}
.cart-products .item .item-content h6{
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  font-family: system-ui;
  display: contents;
}
.cart-products .item span{
  background-color: red;
  padding: 0px 5px;
  border-radius: 50%;
  color: #fff;
  font-family: system-ui;
  cursor: pointer;
}
.cart-products h3{
  margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
  font-weight: 700;
  display: contents;
}
  
  
p.close-btn{
top: 5px;
right: 11px;
cursor: pointer;
  color: #000;
}


.container2{
  max-width: 1200px;
  text-align: center;
  margin: auto;
}

.img_carrito {
  width: 87px;
  height: 95px; }

/*############# Informacion ###########*/

.barra {
  padding: 20px 0;
  background: #ee2763;
  background: -webkit-linear-gradient(left, #e20c9b 0%,#ad0034 100% );
}
.barra p {
  margin: 0;
  color: white;
}
.icono {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 60px;
  background-size: 46px;
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 750px) {
  .icono {
      margin-bottom: 0;
  }
}

.icono1 {
  background-image: url(../img/icono-1.png);
}
.icono2 {
  background-image: url(../img/icono-2.png);
}
.icono3 {
  background-image: url(../img/icono-3.png);
}

/*############ Variables CSS #############*/
.text-deconone {
  text-decoration: none;
  list-style: none; }